<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% if page.title %}{{ page.title}} | {% endif %}{{ site.title}}</title>
		<meta name="author" content="Waitng15" />
		<meta name="renderer" content="webkit">
		<meta name="description" content="Waing15's Blog" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

		<link rel="stylesheet" href="/js/bootstrap_css/bootstrap.min.css">
		<script src="/js/bootstrap_js/bootstrap.bundle.min.js"></script>

		<style>{% include style.css %}</style>
	</head>

	{{ content }}
	
</html>